---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="docs-prevnext {% if page and page.previous or page.next %}show{% endif %}">
    {% if page and page.previous %}
      <div class="prev" title="Keyboard navigation is enabled">        
        <a id="prev_page" href="{{ page.previous.url | relative_url }}">
          <img src="{{ "/assets/images/lazy.png" | relative_url }}" data-src="{{ "/assets/images/prev_arrow.png" | relative_url }}" data-src-retina="{{ "/assets/images/prev_arrow@2x.png" | relative_url }}" width="7">
          {{ page.previous.title }}
        </a>
      </div>
    {% endif %}

    {% if page and page.next %}
      <div class="next" title="Keyboard navigation is enabled">
        <a id="next_page" href="{{ page.next.url | relative_url }}">
          {{ page.next.title }}
          <img src="{{ "/assets/images/lazy.png" | relative_url }}" data-src="{{ "/assets/images/next_arrow.png" | relative_url }}" data-src-retina="{{ "/assets/images/next_arrow@2x.png" | relative_url }}" width="7">
        </a>
      </div>
    {% endif %}
  </div>
</article>
