---
layout: default
---

<article class="post">
	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">pCloud SDK</h1>
	</header>

	<div class="box_wrap">
		<div class="content_box x3">
			<div class="headline">Lorem ipsum</div>
			pCloud is a cloud storage and backup solution for end users and businesses.
		</div>
		<div class="content_box x3">
			<div class="headline">Lorem ipsum</div>
			pCloud is a cloud storage and backup solution for end users and businesses.
		</div>
		<div class="content_box x3">
			<div class="headline">Lorem ipsum</div>
			pCloud is a cloud storage and backup solution for end users and businesses.
		</div>
	</div>

	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">About pCloud</h1>
	</header>
	<p>pCloud is a cloud storage and backup solution for end users and businesses. We offer hassle-free file sharing and super fast upload and download speed.</p>
	<p>Our service is available on web, desktop (Windows, macOS and Linux) and mobile (Android, iOS and Windows 10 Mobile) for easier file access anywhere.</p>
	<p>Here are some of pCloud’s highlights:</p>
	<ul>
		<li>Upload speed: 80 MB/s; download speed: unlimited</li>
		<li>No limitations on file size</li>
		<li>Selective sync</li>
		<li>Automatic sync across all devices</li>
		<li>Virtual hard drive through the pCloud Drive desktop apps</li>
		<li>Control over shared files; password protection and expiration dates for public download links</li>
		<li>Collaboration functionality</li>
		<li>File versioning</li>
		<li>Automatic upload for the mobile apps</li>
		<li>Built-in video player; HD video streaming</li>
		<li>Built-in audio player with playlists capabilities</li>
		<li>Remote download, etc.</li>
		<li>For more details, visit www.pcloud.com</li>
	</ul>
</div>

<!--
<div class="home">
  <h1 class="page-heading">pCloud SDK</h1>
  {{ content }}
  8888
  v3
</div>
-->
